@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: black;
  color: white;
}

.rtl {
  direction: rtl
}

.ltr {
  direction: ltr
}

.text-shadow-sm {
  text-shadow: 1px 1px 1px rgba(0,0,0,1);
}