<h1 i18n="@@settings">Settings</h1>

<mat-form-field appearance="fill">
  <mat-label i18n="@@lang-picker">Language picker label</mat-label>
  <mat-select [value]="currentLocale" (selectionChange)="switchLocale($event)">
    <mat-option *ngFor="let locale of locales" [value]="locale[0]">
      {{ locale[1] }}
    </mat-option>
  </mat-select>
</mat-form-field>

<app-account-list></app-account-list>

<button mat-raised-button color="primary" routerLink="add-account">
  <mat-icon>person_add</mat-icon>
  <ng-container i18n="@@add-account">Add account</ng-container>
</button>
